<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../stylesheets/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <div class="header">
        <h1>Instagram</h1>
        <%= link_to  "Home", "/", class: "home" %>
        <%= link_to  "Messages", "paginas/messages", class: "messages" %>
    </div>
    
    
    <p>Pictures</p>
</body>
</html>